<!-- Main Page-->

<%- include partials/header.ejs %>

<%- include partials/mainnav.ejs %>

<%- include partials/maincontent.ejs %>

<main class="container">

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1>Create Your Own Survey</h1>
            
            <a href="/survey/create" class="btn btn-primary" role = "button">
            <i class="fas-fa-plus-circle"></i>Create Your Survey</a>


            
            
           
        </div>
    </div>
    </main>

<%- include partials/bottomnav.ejs %>

<%- include partials/footer.ejs %>
